.tags

# ignore things that are local to the environment
*.env*
*.pem
*.tgz
.envrc

**/node_modules/*

*.log

**/.serverless
serverless.yml

.terraform/
.idea/

.jira.d/

.rgignore
.DS_Store

# Ignore dist except for actions which need it
tools/**/dist/**
!actions/**/dist/**
!nx-actions/**/dist/**

.nx/**
node_modules/
