name: NodeJS Image Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/nodejs-image-publish.yml
      - images/nodejs/**

defaults:
  run:
    working-directory: images/nodejs/

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: zerobias-org/devops/nx-actions/image-publish@main
        with:
          image-name: devops-nodejs-image
          image-version: 22-alpine
          context-dir: images/nodejs
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vault-url: ${{ secrets.VAULT_ADDR }}
